<!-- Data Visualization -->
<section id="DataVisualization" class="two">
    <div class="container">

        <header>
            <h2>Data Visualization</h2>
        </header>

        <p>Tools: Tableau, Excel, API, IBM Watson, Adobe Illustrator.</p>

        <div class="row">

        {% for post in site.categories.visualizations %}
        <div class="col-4 col-12-mobile">
            <article class="item">
                <a href="{{ site.baseurl }}{{ post.url }}" class="image fit"><img src="{{ site.baseurl }}/{{ post.cover-image }}" alt=""></a>
                <header>
                    <a href="{{ site.baseurl }}{{ post.url }}" class="image fit"><h3>{{ post.title }}</h3></a>
                </header>
            </article>
        </div>
        {% endfor %}
    </div>
    </div>
</section>