<!-- About -->
<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">Hi! I'm <strong>Sophia</strong>. 
                
        </header>I am studying international affairs and <strong>data visualization</strong> at <strong>Columbia University</strong>. 
            I am enthusiastic about data-driven research, especially in gender studies. 
        I worked in Beijing, Cairo, and New York.</p>

        <footer>
            <a href="#Bio" class="button scrolly">Data Visualization</a>
        </footer>

    </div>
</section>